/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  outline: 0; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
  outline: 0; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

ol, ul, li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

:root {
  font-size: 62.5%; }

body, html {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem; }

.header {
  padding: 20px 0;
  background-color: #ccc;
  background-image: url("/assets/img/header-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header_btn {
  position: relative;
  display: inline-block;
  width: auto;
  max-width: 100%;
  font-size: 1.4rem;
  padding: .5em 2em;
  line-height: 1;
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  background-color: #fff;
  color: #ff5338;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  -webkit-transition-property: color, background;
  transition-property: color, background;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .header_btn:focus {
    outline: 1px solid rgba(255, 83, 56, 0.5); }
  .header_btn:hover, .header_btn:active {
    background-color: #ff5338;
    color: #fff; }

.logo {
  color: #ff5338;
  font-size: 16px; }

.radio {
  display: inline-block;
  max-width: 100%;
  font-size: 1.4rem; }
  .radio > input {
    display: none; }
  .radio > span {
    position: relative;
    display: inline-block;
    font-size: inherit;
    padding: .5em 1em;
    line-height: 1;
    border: 0;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-align: center;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition-property: color, background;
    transition-property: color, background;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
    .radio > span:focus {
      outline: 1px solid rgba(255, 83, 56, 0.5); }
    .radio > span:hover, .radio > span:active {
      background-color: #fff;
      color: #ff5338; }
  .radio > input:checked + span {
    background-color: #ff5338; }
    .radio > input:checked + span:hover, .radio > input:checked + span:active {
      color: #fff; }
  .radio > input:disabled + span {
    opacity: .5;
    pointer-events: none; }
  .radio--sort {
    font-size: 1.4rem;
    font-weight: 700; }
    .radio--sort > span {
      padding: .5em .5em;
      text-transform: none;
      background-color: transparent;
      color: #000; }
      .radio--sort > span:hover, .radio--sort > span:active {
        background-color: transparent; }
    .radio--sort > input:checked + span {
      background-color: transparent;
      color: #ff5338; }
      .radio--sort > input:checked + span:hover, .radio--sort > input:checked + span:active {
        color: #ff5338; }

.search {
  padding: 4rem 0;
  color: #fff; }

.search_title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem; }

.search_input {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-bottom: 2px solid #ff5338;
  background-color: #000;
  color: #fff; }

.search_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.search_type-title {
  padding-right: 2rem;
  text-transform: uppercase; }

.search_type-btn {
  padding: 0 1rem; }

.search_submit {
  position: relative;
  display: inline-block;
  width: auto;
  max-width: 100%;
  font-size: inherit;
  padding: .85em 3em;
  line-height: 1;
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  background-color: #ff5338;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition-property: color, background;
  transition-property: color, background;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .search_submit:focus {
    outline: 1px solid rgba(255, 83, 56, 0.5); }
  .search_submit:hover, .search_submit:active {
    background-color: #fff;
    color: #ff5338; }

.search_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0; }

.footer {
  background-color: #ccc;
  padding: 1rem 0; }

.empty-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 60vh;
  font-size: 4.8rem;
  font-weight: 700; }

.sub-header {
  background-color: #ccc;
  padding: 1rem 0; }

.sub-header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.result-count {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0 2rem; }

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem; }

.sort_title {
  padding-right: 2rem;
  font-size: 1.4rem; }

.sort_btn {
  padding: 0 1rem; }

.film-item {
  display: block;
  max-width: 100%;
  padding: 0 1.5rem;
  margin-bottom: 2rem; }

.film-item_img {
  display: block;
  width: 100%; }

.film-item_header {
  position: relative;
  padding: 1rem 0;
  padding-right: 7rem;
  margin-bottom: 1rem; }

.film-item_name {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 700; }

.film-item_year {
  position: absolute;
  top: 1rem;
  right: 0;
  width: 7rem;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: center;
  border: 1px solid #333; }

.film-item_genre {
  display: block;
  padding-top: 1rem;
  font-size: 1.4rem; }

.film-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-top: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .film-list > .film-item {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    max-width: 33%; }

.film-info {
  color: #fff;
  padding: 2rem 0; }

.film-info_poster {
  display: block;
  width: 100%; }

.film-info_details {
  padding-top: 2rem; }

.film-info_name {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 700;
  padding-right: 5rem;
  position: relative;
  margin-bottom: 1rem;
  color: #ff5338; }

.film-info_rating {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  font-size: 2.2rem;
  font-weight: 300;
  text-align: center;
  height: 4rem;
  width: 4rem;
  line-height: 3.6rem;
  vertical-align: middle;
  color: green;
  border: 1px solid green;
  border-radius: 50%; }

.film-info_genre {
  font-size: 1.4rem;
  margin-bottom: 2rem; }

.film-info_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  font-weight: 700; }
  .film-info_info span {
    margin-right: 2rem; }

.film-info_desc {
  font-size: 1.4rem;
  line-height: 1.4; }

.film-info_empty {
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
  padding: 4rem 0; }


/*# sourceMappingURL=main.css.map*/