@import "../../styles/variables";

.header {
	padding: 20px 0;
	background-color: #ccc;
	background-image: url("/assets/img/header-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_btn {
	position: relative;
	display: inline-block;
	width: auto;
	max-width: 100%;
	font-size: 1.4rem;
	padding: .5em 2em;
	line-height: 1;
	border: 0;
	outline: 0;
	box-shadow: none;
	text-align: center;
	background-color: #fff;
	color: $brandColor;
	cursor: pointer;
	border-radius: 2px;
	text-transform: uppercase;
	transition-property: color, background;
	transition-duration: .2s;
	transition-timing-function: ease-out;
	// prevent
	user-select: none;
	appearance: none;
	&:focus {
		outline: 1px solid rgba($brandColor, .5);
	}
	&:hover,
	&:active {
		background-color: $brandColor;
		color: #fff;
	}
}