@import "../../styles/variables";

.film-list {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-grow: 1;
	flex-shrink: 0;
	padding-top: 2rem;
	flex-wrap: wrap;
	> .film-item {
		flex-basis: 33%;
		max-width: 33%;
	}
}