@import "../../styles/variables";

.film-item {
	display: block;
	max-width: 100%;
	padding: 0 1.5rem;
	margin-bottom: 2rem;
}

.film-item_img {
	display: block;
	width: 100%;
}

.film-item_header {
	position: relative;
	padding: 1rem 0;
	padding-right: 7rem;
	margin-bottom: 1rem;
}

.film-item_name {
	font-size: 1.6rem;
	line-height: 1.5;
	font-weight: 700;
}

.film-item_year {
	position: absolute;
	top: 1rem;
	right: 0;
	width: 7rem;
	font-size: 1.4rem;
	line-height: 1.5;
	text-align: center;
	border: 1px solid #333;
}

.film-item_genre {
	display: block;
	padding-top: 1rem;
	font-size: 1.4rem;
}